[submodule "KernelBench"]
	path = KernelBench
	url = https://github.com/ScalingIntelligence/KernelBench.git
[submodule "bitsandbytes"]
	path = bitsandbytes
	url = https://github.com/bitsandbytes-foundation/bitsandbytes.git
